/* variables*/
/* functions*/
/* Reset some basic automatic style */
html {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  color: black;
}

body {
  margin: 0;
}

h1 {
  margin: 0;
}

li,
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

img {
  max-width: 100%;
}

button,
input {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

a {
  /* display: block; */
  width: 100%;
  text-decoration: none;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

* {
  font-family: "Roboto", sans-serif;
}

.logo {
  font-family: "Shrikhand", cursive;
  font-weight: normal;
}

h2 {
  font-weight: bold;
}

p {
  font-size: 18px;
  font-weight: 300;
}

button,
input {
  font-size: 16px;
  font-weight: bold;
}

footer h3 {
  font-weight: normal;
}

header {
  background-color: #7f7fc5;
}

section {
  background-color: #e4b9ac;
}

button {
  background-color: khaki;
}

div {
  background-color: #94ecc0;
}

.hero__search {
  background-color: #b82d57;
}

.hero__search input {
  background-color: cornflowerblue;
}

span {
  background-color: lawngreen;
}

li {
  background-color: #f3a2f3;
}

::before {
  background-color: #969696;
}

.main_header {
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* .return-btn {

        } */
}

/* Main */
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.hero h2 {
  margin: 0 3rem;
}

.hero__description {
  padding: 2.5rem 0;
}

.hero__search {
  background-color: #eaeaea;
  width: 100%;
  padding: 0.85rem;
  margin: 0;
  opacity: 0.7;
}

.hero__search input {
  text-align: center;
  width: 8.6rem;
  background-color: transparent;
}

.hero__search input::-webkit-input-placeholder {
  opacity: 1;
}

.hero__search input:-ms-input-placeholder {
  opacity: 1;
}

.hero__search input::-ms-input-placeholder {
  opacity: 1;
}

.hero__search input::placeholder {
  opacity: 1;
}

.helper {
  padding: 1rem;
}

.helper ol {
  list-style-type: none;
  padding: 1rem 0;
}

.helper__list {
  counter-increment: compteur;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1rem;
  margin-bottom: 1.55rem;
  height: 4.3rem;
  border-radius: 25px;
}

.helper__list::before {
  color: white;
  position: relative;
  left: -12px;
  content: counter(compteur);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background-color: #9356DC;
  font-size: 0.9rem;
}

.helper__list::after {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  /* fontawesome recommendation */
  font-variant: normal;
  /* fontawesome recommendation */
  text-rendering: auto;
  /* fontawesome recommendation */
  font-weight: 900;
  padding: 0.2rem;
  padding-right: 1rem;
  opacity: 0.5;
}

.helper__list:hover::after {
  opacity: 1;
  color: #9356DC;
}

.helper__list:active::after {
  opacity: 1;
  color: #9356DC;
}

.helper__list:first-child::after {
  content: "\f3cd";
  font-size: 1.3rem;
}

.helper__list:nth-child(2)::after {
  content: "\f0ca";
}

.helper__list:last-child::after {
  content: "\f54e";
}

footer {
  padding: 1.5rem;
  background-color: #353535;
}

footer h3 {
  margin-top: 0;
  color: white;
}

.footer__link, .footer__link--propose, .footer__link--partenaire {
  margin: 0.5rem 0;
  color: white;
}

.footer__link a, .footer__link--propose a, .footer__link--partenaire a {
  color: inherit;
}

.footer__link::before, .footer__link--propose::before, .footer__link--partenaire::before {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  /* fontawesome recommendation */
  font-variant: normal;
  /* fontawesome recommendation */
  text-rendering: auto;
  /* fontawesome recommendation */
  font-weight: 900;
  margin-right: 0.7rem;
}

.footer__link:hover, .footer__link--propose:hover, .footer__link--partenaire:hover {
  color: #9356DC;
}

.footer__link:active, .footer__link--propose:active, .footer__link--partenaire:active {
  color: #9356DC;
}

.footer__link--propose::before {
  content: "\f2e7";
}

.footer__link--partenaire::before {
  content: "\f4c4";
}
/*# sourceMappingURL=style.css.map */