@charset "UTF-8";
/* FUNCTIONS*/
/*  VARIABLES*/
/* MIXINS */
/* REFACTOR */
/* Reset some basic automatic style */
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

* {
  color: black;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

li,
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

h1 {
  margin: 0;
}

.single-restaurant__menu--head > h2 {
  margin: 0.3rem 0;
}

img {
  display: block;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

button,
input {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

p:not(.helper__list p) {
  color: #363636;
}

* {
  font-family: "Roboto", sans-serif;
}

.logo,
.single-restaurant__menu--head > h2 {
  font-family: "Shrikhand", cursive;
}

p,
button,
input,
.menu-course h3 {
  font-size: 1rem;
}

.hero__description p {
  font-size: 1.125rem;
}

.dish__description h4 {
  font-size: 1.1rem;
}
.dish__description p {
  font-size: 0.96rem;
}

span {
  font-size: 0.9rem;
}

.single-restaurant__menu--head > h2 {
  font-size: 1.74em;
}

@media screen and (min-width: 850px) {
  footer h3 {
    font-size: 1.5rem;
  }
}

.logo,
.single-restaurant__menu--head h2,
footer h3,
.menu-course h3 {
  font-weight: normal;
}

h2,
input,
.dish__price {
  font-weight: bold;
}

.hero__search input,
.helper__list p,
.restaurant__card--img span,
.dish__description h4,
button {
  font-weight: 500;
}

footer ul li a,
footer ul li p {
  font-weight: 400;
}

p {
  font-weight: 300;
}

@keyframes filling-heart {
  0% {
    background-position: center 27px;
    transform: scale(1);
  }
  58% {
    background-position: center 0px;
    -webkit-text-stroke-color: black;
    transform: scale(1);
  }
  60% {
    -webkit-text-stroke-color: rgba(0, 0, 0, 0);
    transform: scale(1.2);
  }
  80% {
    transform: scale(1.15);
  }
  100% {
    background-position: center 0px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0);
    transform: scale(1.1);
  }
}
@keyframes menu-appearance {
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.menu-course:nth-of-type(1) li:nth-of-type(1) {
  animation-delay: 0.58s;
}
.menu-course:nth-of-type(1) li:nth-of-type(2) {
  animation-delay: 0.66s;
}
.menu-course:nth-of-type(1) li:nth-of-type(3) {
  animation-delay: 0.74s;
}

.menu-course:nth-of-type(2) li:nth-of-type(1) {
  animation-delay: 1.08s;
}
.menu-course:nth-of-type(2) li:nth-of-type(2) {
  animation-delay: 1.16s;
}
.menu-course:nth-of-type(2) li:nth-of-type(3) {
  animation-delay: 1.24s;
}

.menu-course:nth-of-type(3) li:nth-of-type(1) {
  animation-delay: 1.58s;
}
.menu-course:nth-of-type(3) li:nth-of-type(2) {
  animation-delay: 1.66s;
}
.menu-course:nth-of-type(3) li:nth-of-type(3) {
  animation-delay: 1.74s;
}

/* HEADER */
.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 4rem;
  padding: 0 1.5rem;
}
.main-header__btn-return {
  position: absolute;
  left: 1.5rem;
  font-size: 0px;
  color: transparent;
}
.main-header__btn-return::before {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  /* fontawesome recommendation */
  font-variant: normal;
  /* fontawesome recommendation */
  text-rendering: auto;
  /* fontawesome recommendation */
  font-weight: 900;
  content: "";
  color: #363636;
  font-size: 1.3rem;
}

/* FOOTER */
footer {
  padding: 1.5rem;
  background-color: #363636;
}
footer * {
  color: white;
  margin: 0;
}
footer h3 {
  margin-top: 0;
}
@media screen and (min-width: 850px) {
  footer h3 {
    width: 250px;
  }
}
@media screen and (min-width: 850px) {
  footer ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.4rem;
    width: 500px;
    height: 3rem;
  }
}
@media screen and (min-width: 850px) {
  footer {
    display: flex;
    justify-content: center;
    padding: 2rem 1.5rem;
  }
}

.footer__link, .footer__link--partenaire, .footer__link--propose {
  margin: 0.5rem 0;
}
.footer__link::before, .footer__link--partenaire::before, .footer__link--propose::before {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  /* fontawesome recommendation */
  font-variant: normal;
  /* fontawesome recommendation */
  text-rendering: auto;
  /* fontawesome recommendation */
  font-weight: 900;
  margin-right: 0.7rem;
}
.footer__link:hover, .footer__link--partenaire:hover, .footer__link--propose:hover, .footer__link:hover a, .footer__link--partenaire:hover a, .footer__link--propose:hover a {
  color: #9356dc;
}
.footer__link:active, .footer__link--partenaire:active, .footer__link--propose:active, .footer__link:active a, .footer__link--partenaire:active a, .footer__link--propose:active a {
  color: #9356dc;
}
@media screen and (min-width: 850px) {
  .footer__link, .footer__link--partenaire, .footer__link--propose {
    width: 250px;
    margin: 0;
  }
}

.footer__link--propose::before {
  content: "";
}

.footer__link--partenaire::before {
  content: "";
}

/* HOME */
.hero {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  background-color: whitesmoke;
  text-align: center;
}
.hero h2 {
  margin: 0 3rem;
}
.hero__description {
  padding: 2.5rem 1.5rem;
}
@media screen and (min-width: 850px) {
  .hero__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 3rem 0;
  }
  .hero__description p {
    max-width: 400px;
    margin: auto;
  }
}
.hero__description button {
  margin: 0.5rem;
}

.hero__search {
  background-color: #e6e6e6;
  box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.15);
  width: 100%;
  padding: 0.9rem;
  margin: 0;
}
.hero__search i {
  color: #363636;
}
.hero__search input {
  color: #363636;
  text-align: center;
  width: 8.6rem;
  background-color: transparent;
}
.hero__search input::placeholder {
  opacity: 1;
}

.helper {
  padding: 1.5rem;
}
@media screen and (min-width: 850px) {
  .helper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    min-height: 300px;
  }
}
@media screen and (min-width: 850px) {
  .helper h2 {
    max-width: 75rem;
    width: 100%;
    text-align: left;
    margin: 0;
  }
}
.helper ol {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 1rem 0 1rem 0.8rem;
  gap: 1.55rem;
}
@media screen and (min-width: 850px) {
  .helper ol {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 0;
    margin-left: 0.8rem;
  }
}

.helper__list {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.15);
  position: relative;
  counter-increment: compteur;
  height: 4.3rem;
  border-radius: 20px;
  background-color: whitesmoke;
  white-space: nowrap;
  padding-right: 3rem;
}
.helper__list:not(.dish):hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
}
.helper__list::before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -12px;
  content: counter(compteur);
  font-size: 0.9rem;
  order: 1;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background-color: #9356dc;
  color: white;
}
.helper__list::after {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  /* fontawesome recommendation */
  font-variant: normal;
  /* fontawesome recommendation */
  text-rendering: auto;
  /* fontawesome recommendation */
  font-weight: 900;
  padding: 0 1.5rem 0 2.25rem;
  opacity: 0.5;
}
.helper__list:hover, .helper__list:active {
  background-color: #f2eafb;
}
.helper__list:hover::after, .helper__list:active::after {
  opacity: 1;
  color: #9356dc;
}
@media screen and (min-width: 850px) {
  .helper__list {
    margin: 0;
    min-width: 19rem;
  }
}

.helper__list:first-child::after {
  content: "";
  font-size: 1.3rem;
}

.helper__list:nth-child(2)::after {
  content: "";
}

.helper__list:last-child::after {
  content: "";
}

.restaurants {
  padding: 1.5rem;
  background-color: whitesmoke;
}
@media screen and (min-width: 850px) {
  .restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 850px) {
  .restaurants h2 {
    text-align: left;
    width: 100%;
    max-width: 75rem;
  }
}
.restaurants ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 3rem;
}
@media screen and (min-width: 850px) {
  .restaurants ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2.5rem;
    max-width: 75rem;
  }
}
.restaurants li {
  height: 15.75rem;
}
@media screen and (min-width: 850px) {
  .restaurants li {
    height: 18rem;
    flex: 1 0 24.1666666667rem;
  }
}

.restaurant__card {
  display: flex;
  flex-direction: column-reverse;
  height: inherit;
}

.restaurant__card--info {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas: "name heart" "text heart";
  gap: 0.2rem;
  padding: 0.85rem;
  z-index: 1;
  background-color: white;
}
.restaurant__card--info h3 {
  grid-area: name;
  margin: 0;
}
.restaurant__card--info p {
  grid-area: text;
  margin: 0;
}
.restaurant__card--info button {
  grid-area: heart;
  align-self: center;
  justify-self: center;
}

.restaurant__card--img {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "picture";
  height: 10.75rem;
  flex: 2;
}
.restaurant__card--img img {
  display: block;
  grid-area: picture;
}
.restaurant__card--img span {
  grid-area: picture;
  justify-self: end;
  align-self: start;
  padding: 0.4rem 1rem;
  margin: 1rem;
  background-color: #99e2d0;
  color: #2c9c81;
}

/* Restaurant Menus */
.single-restaurant {
  background-color: whitesmoke;
}
.single-restaurant img {
  height: 17rem;
  z-index: -1;
}

.single-restaurant__menu {
  position: relative;
  /* to fix the background transparent with negativ margin */
  margin-top: -3.3rem;
  padding: 1.5rem;
  padding-bottom: 3rem;
  border-radius: 40px 40px 0 0;
  background-color: whitesmoke;
}
@media screen and (min-width: 850px) {
  .single-restaurant__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
}
.single-restaurant__menu--head {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 850px) {
  .single-restaurant__menu--head {
    text-align: left;
    width: 100%;
    max-width: 75rem;
  }
}
.single-restaurant__menu--form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 850px) {
  .single-restaurant__menu--form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 2.5rem;
    max-width: 75rem;
  }
}

.menu-course h3 {
  text-transform: uppercase;
  font-weight: 300;
  color: #363636;
  border-bottom: 3px solid #99e2d0;
  max-width: 2.375rem;
  line-height: 1.75rem;
}
.menu-course ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media screen and (min-width: 850px) {
  .menu-course {
    min-width: 0;
  }
}

.dish {
  position: relative;
  height: 4.3rem;
  opacity: 0;
  transform: translateY(80px);
  animation: menu-appearance 0.5s ease-out forwards;
}
.dish__description {
  align-self: center;
  padding-left: 0.8rem;
  flex: 1;
}
.dish__price {
  margin-left: auto;
  align-self: flex-end;
  padding: 0 1.5rem 0.8rem 0.6rem;
  color: #363636;
}
.dish__btn-select {
  background-color: #99e2d0;
}
.dish__btn-select input,
.dish__btn-select span {
  margin-right: -3.6rem;
}
.dish__btn-select input i,
.dish__btn-select span i {
  transition: transform 0.45s ease-in-out;
  transform: rotate(0deg);
}
.dish:hover .dish__btn-select > * {
  transition: margin-right 0.25s linear, transform 0.45s ease-in-out;
  margin-right: 0;
}
.dish:hover .dish__btn-select > * i {
  transform: rotate(360deg);
}

.dish__description {
  overflow: hidden;
}
.dish__description h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  margin-bottom: 0.3rem;
}
.dish__description p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}

.menu-btn-order {
  display: flex;
  align-self: center;
  margin: 2.6rem 0 2rem 0;
}
.menu-btn-order input {
  color: inherit;
  width: 100%;
}
@media screen and (min-width: 850px) {
  .menu-btn-order {
    grid-column: 2;
    justify-self: center;
    align-self: end;
    margin: 0;
  }
}

.cards, .restaurant__card, .dish {
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.15);
  display: flex;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
}
.cards:not(.dish):hover, .restaurant__card:not(.dish):hover, .dish:not(.dish):hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
}

/* Restaurant Menus */
.btn-brand {
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.3);
  position: relative;
  color: white;
  height: 3.2rem;
  min-width: 12rem;
  border-radius: 50px;
  padding: 0 1.5rem;
  white-space: nowrap;
  background-color: #9356dc;
  background: linear-gradient(356deg, #9356dc, #ff79da);
  /* animation */
  transition: all 0.05s ease-in-out;
  transform-origin: 50% 50%;
  z-index: 1;
}
.btn-brand:not(.dish):hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.45);
}
.btn-brand:hover::after, .btn-brand:active::after {
  opacity: 1;
}
.btn-brand:active {
  transform: scale(0.97);
}
.btn-brand::after {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  border-radius: 50px;
  background: linear-gradient(356deg, #a978e3, #ffa2e5);
  z-index: -1;
  opacity: 0;
}

.btn-heart, .restaurant__card--info button, .single-restaurant__menu--head button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: auto;
  font-size: 1.5rem;
  padding: 0 0.3rem;
  /* background */
  /* color: $color-primary; */
  background: linear-gradient(210deg, #9356dc, #ff79da);
  background-repeat: no-repeat;
  background-position: center 27px;
  /* move the backgound out of the box */
  /* negativ effet */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* border around txt */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  /* animation scale*/
  transform-origin: top;
  transform: scale(1);
}
.btn-heart:hover, .restaurant__card--info button:hover, .single-restaurant__menu--head button:hover {
  animation: filling-heart 0.7s cubic-bezier(0.32, 0, 0.71, 0) forwards;
}

.dish__btn-select {
  display: grid;
  grid-template-areas: "btn-check";
  justify-content: center;
  align-items: center;
}
.dish__btn-select input {
  grid-area: btn-check;
  z-index: 2;
  opacity: 0;
  width: 100%;
  /* click area on all the btn */
  height: 100%;
  /* click area on all the btn */
}
.dish__btn-select input:checked + span {
  margin-right: 0;
}
.dish__btn-select input:checked + span i {
  transform: rotate(360deg);
  /* fix fix the rotation if the btn is checked */
}
.dish__btn-select span {
  width: 3.6rem;
  grid-area: btn-check;
  transition: margin-right 0.27s linear;
}
.dish__btn-select span i {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: white;
  font-size: 1.4rem;
}

/*# sourceMappingURL=style.css.map */
