// -----------------------------------------------------------
/* BUTTONS */
// -----------------------------------------------------------

// ------------ Btn BRAND*/

.btn-brand {
	@include shadows(0.3);
	position: relative;
	color: white;
	height: 3.2rem;
	min-width: 12rem;
	border-radius: $border-rad-btn;
	padding: 0 1.5rem;
	white-space: nowrap;
	background-color: $color-primary;
	background: linear-gradient(356deg, $color-primary, $color-secondary);
	// animation
	transition: all 0.05s ease-in-out;
	transform-origin: 50% 50%;
	z-index: 1;

	&:hover,
	&:active {
		&::after {
			opacity: 1;
		}
	}

	&:active {
		transform: scale(0.97);
	}

	//background color lighter for animation perf
	&::after {
		content: "";
		display: block;
		@include position(absolute, -1px, -1px, -1px, -1px);
		border-radius: $border-rad-btn;
		background: linear-gradient(
			356deg,
			lighten($color-primary, 8%),
			lighten($color-secondary, 8%)
		);
		z-index: -1;
		opacity: 0;
	}
}

// ------------ Btn HEART

.btn-heart {
	@include flex($default, $default, center, center);
	@include shape(auto, 25px);
	font-size: 1.5rem;
	padding: 0 0.3rem;
	// background
	background: linear-gradient(210deg, $color-primary, $color-secondary);
	background-repeat: no-repeat;
	background-position: center 27px; /* move the backgound out of the box */
	// invert txt
	-webkit-background-clip: text; /* invert text  effet */
	-webkit-text-fill-color: transparent; /* invert text effet */
	// border txt
	-webkit-text-stroke-width: 1px; /* border around txt */
	-webkit-text-stroke-color: rgba(0, 0, 0, 1); /* border around txt */
	// animation scale
	transform-origin: top;
	transform: scale(1);

	&:hover {
		animation: filling-heart 0.7s cubic-bezier(0.32, 0, 0.71, 0) forwards;
	}
}
