.btn-brand {
	@include shadows(0.3);

	position: relative;
	color: white;
	height: 3.2rem;
	min-width: 12rem;
	border-radius: $border-rad-btn;
	padding: 0 1.5rem;
	white-space: nowrap;
	background-color: $color-primary;
	background: linear-gradient(356deg, $color-primary, $color-secondary);
	/* animation */
	transition: all 0.05s ease-in-out;
	transform-origin: 50% 50%;
	z-index: 1;

	&:hover,
	&:active {
		&::after {
			opacity: 1;
		}
	}

	&:active {
		transform: scale(0.97);
	}

	//background color lighter for animation perf
	&::after {
		@include shadows(0.1);

		content: "";
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border-radius: $border-rad-btn;
		background: linear-gradient(
			356deg,
			tone-color($color-primary, 8%, lighten),
			tone-color($color-secondary, 8%, lighten)
		);
		z-index: -1;
		opacity: 0;
	}
}

.btn-heart {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 25px;
	width: auto;
	font-size: 1.5rem;
	padding: 0 0.3rem;
	/* background */
	color: $color-primary;
	background: linear-gradient(210deg, $color-primary, $color-secondary);
	background-repeat: no-repeat;
	background-position: center 27px; /* move the backgound out of the box */
	/* negativ effet */
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	/* border around txt */
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: rgba(0, 0, 0, 1);
	/* animation scale*/
	transform-origin: top;
	transform: scale(1);

	&:hover {
		animation: filling-heart 0.7s cubic-bezier(0.32, 0, 0.71, 0) forwards;
	}
}
