// -----------------------------------------------------------
/*  VARIABLES*/
// -----------------------------------------------------------

// ------------ COLORS

// colors brand
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-third: #99e2d0;

//color standard
$color-canvas: #000000;

// colors elements
$color: (
	bg-footer-txt: tone-color($color-canvas, 21%, lighten),
	bg-blocs: tone-color($color-canvas, 96%, lighten),
);

// ------------ FONTS

// font style
$font-logo: "Shrikhand", cursive;
$font-txt: "Roboto", sans-serif;

// Sizes

// gutters
$gutters: 1.5rem;

// max width section desktop
$max-width-desk: 1200px;
$footer-e-size: 250px;

//border radius
$border-rad-btn: 50px;

// ------------ ANIMATION

// menu courses and second for menus animation
$menu-courses: (
	entrance: 1,
	main-course: 2,
	desert: 3,
);

$sec: 0.5;