// -----------------------------------------------------------
/* variables*/
// -----------------------------------------------------------

// colors brand
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-third: #99e2d0;

//colors standard
$color-canvas: #000000;

// lightness hvl
$brightness: (
	light: 96%,
	soft-light: 90%,
    medium: 35%,
	dark: 21%
);

// font style
$font-logo: "Shrikhand", cursive;
$font-txt: "Roboto", sans-serif;

// gutters
$gutters: 1.5rem;

//