// -----------------------------------------------------------
/* variables*/
// -----------------------------------------------------------


// colors
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-third: #99E2D0;

$color-fourth: #eaeaea;

$color-bg-footer: #353535;

// font
$font-logo:'Shrikhand', cursive;
$font-txt: 'Roboto', sans-serif;

// gutters
$gutters: 1.5rem;