// -----------------------------------------------------------
/* Reset some basic automatic style */
// -----------------------------------------------------------

html {
	scroll-behavior: smooth;
	box-sizing: border-box;
}

* {
	color: black;
}

body {
	margin: 0;
}

h1 {
	margin: 0;
}

.single-restaurant__menu--head > h2 {
    margin: 0.3rem 0;
}

li,
ul,
ol {
	list-style: none;
	padding: 0;
	margin: 0;
	text-decoration: none;
}

// img resizing

img {
	display: block;
	object-fit: cover;
    object-position: center;
    width: 100%;
    height:100%;
}

// links & buttons basic refactor

button,
input {
	background-color: transparent;
	outline: none;
	border: none;
	cursor: pointer;
}

a {
	text-decoration: none;
}

// Scrolling
// for people who desactivate the scrolling behavior on browser

@media (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}