// -----------------------------------------------------------
/* FOOTER */
// -----------------------------------------------------------

footer {
	padding: $gutters;
	background-color: map-get($color, bg-footer-txt);

	* {
		color: white;
		margin: 0;
	}

	h3 {
		margin-top: 0;

		@include desktop {
			width: $footer-e-size;
		}
	}

	ul {
		@include desktop {
			@include flex(column, wrap, center, $default);
			gap: 0.4rem;
			width: $footer-e-size * 2;
			height: 3rem;
		}
	}

	@include desktop {
		@include flex($default, $default, center, $default);
		padding: 2rem $gutters;
	}
}

// ------------ lINKS nav in the footer

.footer__link {
	margin: 0.5rem 0;

	// icons links footer
	&::before {
		@include icons-b-standard;
		margin-right: 0.7rem;
	}

	// hover and active
	&:hover,
	&:hover a {
		color: $color-primary;
	}

	&:active,
	&:active a {
		color: $color-primary;
	}

	@include desktop {
		width: $footer-e-size;
		margin: 0;
	}
}

// Icons links
.footer__link--propose {
	@extend .footer__link;

	&::before {
		content: "\f2e7";
	}
}

.footer__link--partenaire {
	@extend .footer__link;

	&::before {
		content: "\f4c4";
	}
}
