footer {
    padding: $gutters;
	background-color: tone-color($color-canvas, dark);
	h3 {
        margin-top:0;
		/* @include txt-color(tone-color($color-canvas, 21%)); */
        color:white;
	}
}

// links nav in the footer
.footer__link {
    margin: 0.5rem 0;
    /* @include txt-color(tone-color($color-canvas, 21%)); */
    color:white;
    a {
        color:inherit;
    }
    &::before {
        @include icons-b-standard;
        margin-right: 0.7rem;
    }
    &:hover {
        color: $color-primary;
    }
    &:active {
        color: $color-primary;
    }
}

// Icons links
.footer__link--propose {
    @extend .footer__link;
    &::before {
        content: "\f2e7";
    }
}
.footer__link--partenaire {
    @extend .footer__link;
    &::before {
        content: "\f4c4";
    }
}