// -----------------------------------------------------------
/* HEADER */
// -----------------------------------------------------------

.main-header {
	@include flex($default, $default, center, center);
	position: relative;
	height: 4rem;
	padding: 0 $gutters;

	&__btn-return {
		position: absolute;
		left: $gutters;
		font-size: 0px; // make the txt disappear --> icon
		color: transparent; // make the txt disappear --> icon

		&::before {
			@include icons-b-standard;
			content: "\f060";
			color: map-get($color, bg-footer-txt);
			font-size: 1.3rem;
		}
	}
}
