// ------------ Hearts animation

@keyframes filling-heart {
	0% {
		background-position: center 27px;
		transform: scale(1);
	}
	58% {
		background-position: center 0px;
		-webkit-text-stroke-color: rgba(0, 0, 0, 1);
		transform: scale(1);
	}
	60% {
		-webkit-text-stroke-color: rgba(0, 0, 0, 0);
		transform: scale(1.2);
	}
	80% {
		transform: scale(1.15);
	}
	100% {
		background-position: center 0px;
		-webkit-text-stroke-color: rgba(0, 0, 0, 0);
		transform: scale(1.1);
	}
}

// ------------ Menus animation

// Keyframes
@keyframes menu-appearance {
	10% {
		opacity: 0;
	}

	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

// Delay the start of each courses
@each $name-course, $nth-course in $menu-courses {
	// select the course
	.menu-course:nth-of-type(#{$nth-course}) {
		@for $i from 1 through 3 {
			// select the dish + add time for each
			li:nth-of-type(#{$i}) {
				animation-delay: $sec + 0.08s;
			}

			$sec: $sec + 0.08;
		}
	}

	$sec: $sec + 0.5; // add some delay for the next section menu-course
}
