// -----------------------------------------------------------
/* REFACTOR */
/* Reset some basic automatic style */
// -----------------------------------------------------------

html {
	scroll-behavior: smooth;
	box-sizing: border-box;
}

* {
	color: black;
	box-sizing: border-box;
}

body {
	margin: 0;
	// page take the whole space;
	min-height: 100vh;
	@include flex(column, $default, $default, $default);
}

main {
	flex: 1; // page take the whole space;
}

// lists & cie refactor

li,
ul,
ol {
	list-style: none;
	padding: 0;
	margin: 0;
	text-decoration: none;
}

h1 {
	margin: 0;
}

.single-restaurant__menu--head > h2 {
	margin: 0.3rem 0;
}

// img resizing

img {
	display: block;
	object-fit: cover;
	object-position: center;
	width: 100%;
	height: 100%;
}

// links & buttons basic refactor

button,
input {
	background-color: transparent;
	outline: none;
	border: none;
	cursor: pointer;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

// colors txts
p:not(.helper__list p) {
	color: map-get($color, bg-footer-txt);
}
