// -----------------------------------------------------------
/* HOME */
// -----------------------------------------------------------

// ------------  BANNER (info + search)

.hero {
	@include flex(column-reverse, $default, $default, center);
	background-color: map-get($color, bg-blocs);
	text-align: center;

	h2 {
		margin: 0 3rem;
	}

	&__description {
		padding: 2.5rem $gutters;

		@include desktop {
			@include flex(column, $default, $default, center);
			gap: 1rem;
			padding: 3rem 0;

			p {
				max-width: 400px;
				margin: auto;
			}
		}

		button {
			margin: 0.5rem;
		}
	}
}

// Search Location input
.hero__search {
	background-color: tone-color($color-canvas, 90%, lighten);
	box-shadow: inset 0px 3px 3px rgba(0, 0, 0, 0.15);
	width: 100%;
	padding: 0.9rem;
	margin: 0;

	i {
		color: map-get($color, bg-footer-txt);
	}

	input {
		color: map-get($color, bg-footer-txt);
		text-align: center;
		width: 8.6rem;
		background-color: transparent;

		&::placeholder {
			opacity: 1;
		}
	}
}

// ------------ HELPER ( Aside )

.helper {
	padding: $gutters;

	@include desktop {
		@include flex(column, $default, center, center);
		gap: $gutters;
		min-height: 300px;
	}

	h2 {
		@include desktop {
			max-width: $max-width-desk;
			width: 100%;
			text-align: left;
			margin: 0;
		}
	}

	ol {
		@include flex(column, $default, $default, $default);
		list-style-type: none;
		margin: 1rem 0 1rem 0.8rem;
		gap: 1.55rem;

		@include desktop {
			@include flex(row, wrap, center, center);
			gap: 2rem;
			margin: 0;
			margin-left: 0.8rem;
		}
	}
}

.helper__list {
	@include flex(row-reverse, $default, flex-end, center);
	@include shadows;
	position: relative;
	counter-increment: compteur;
	height: 4.3rem;
	border-radius: 20px;
	background-color: map-get($color, bg-blocs);
	white-space: nowrap;
	padding-right: 3rem;

	// helpers numbers
	&::before {
        content: counter(compteur);
		@include flex($default, $default, center, center);
        @include position(absolute, $default, $default, $default, -12px);
        @include shape(27px, 27px, 50%);
		font-size: 0.9rem;
		order: 1;
		background-color: $color-primary;
		color: white;
	}

	// helpers icons
	&::after {
		@include icons-b-standard;
		padding: 0 1.5rem 0 2.25rem;
		opacity: 0.5;
	}

	// hover/active changes
	&:hover,
	&:active {
		background-color: tone-color($color-primary, 35%, lighten);
	}
	&:hover::after,
	&:active::after {
		opacity: 1;
		color: $color-primary;
	}

	@include desktop {
		margin: 0;
		min-width: 19rem;
	}
}

// Icons contents -> fontawesome
.helper__list:first-child::after {
	content: "\f3cd";
	font-size: 1.3rem;
}
.helper__list:nth-child(2)::after {
	content: "\f0ca";
}
.helper__list:last-child::after {
	content: "\f54e";
}

// ------------ RESTAURANTS

.restaurants {
	padding: $gutters;
	background-color: map-get($color, bg-blocs);

	@include desktop {
		@include flex(column, $default, $default, center);
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	h2 {
		@include desktop {
			text-align: left;
			width: 100%;
			max-width: $max-width-desk;
		}
	}

	ul {
		@include flex(column, $default, $default, $default);
        gap:1rem;
		padding-bottom: 3rem;

		@include desktop {
			@include flex(row, wrap, space-evenly, $default);
			gap: 2.5rem;
			max-width: $max-width-desk;
		}
	}

	li {
		height: 15.75rem;

		@include desktop {
			height: 18rem;
			flex: 1 0 ($max-width-desk - 2.5) / 3;
		}
	}
}

.restaurant__card {
	@extend .cards;
	@include flex(column-reverse, $default, $default, $default);
	height: inherit;
}

.restaurant__card--info {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-template-areas:
		"name heart"
		"text heart";
	gap: 0.2rem;
	padding: 0.85rem;
	z-index: 1;
	background-color: white;

	h3 {
		grid-area: name;
		margin: 0;
	}

	p {
		grid-area: text;
		margin: 0;
	}

	button {
		@extend .btn-heart;
		grid-area: heart;
		align-self: center;
		justify-self: center;
	}
}

.restaurant__card--img {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: "picture";
	height: 10.75rem;
	flex: 2;

	img {
		display: block;
		grid-area: picture;
	}

	span {
		grid-area: picture;
		justify-self: end;
		align-self: start;
		padding: 0.4rem 1rem;
		margin: 1rem;
		background-color: $color-third;
		color: tone-color($color-third, 35%, darken);
	}
}
