// -----------------------------------------------------------
/* Restaurant Menus */
// -----------------------------------------------------------

// ------------ MAIN */

.single-restaurant {
	img {
		height: 17rem;
		z-index: -1;
	}
	background-color: map-get($color, bg-blocs);
}

// ------------ MENU */

.single-restaurant__menu {
	@include position(relative, -3.3rem, $default, $default, $default);
	padding: $gutters;
	padding-bottom: 3rem;
	border-radius: 40px 40px 0 0;
	background-color: map-get($color, bg-blocs);
	@include desktop {
		@include flex(column, $default, space-between, center);
		height: 100%;
	}

	&--head {
		@include flex(row, nowrap, space-between, center);
		@include desktop {
			text-align: left;
			width: 100%;
			max-width: $max-width-desk;
		}

		button {
			@extend .btn-heart;
		}
	}

	&--form {
		@include flex(column);
		width: 100%;
		@include desktop {
            @include grid(repeat(3, 1fr), auto);
			gap: 2.5rem;
			max-width: $max-width-desk;
		}
	}
}

// ------------ STARTERS - MAIN COURSES - DESERTS

.menu-course {
	h3 {
		text-transform: uppercase;
		font-weight: 300;
		color: map-get($color, bg-footer-txt);
		border-bottom: 3px solid $color-third;
		max-width: 2.375rem;
		line-height: 1.75rem;
	}

	ul {
		@include flex(column);
		gap: 1rem;
	}
	@include desktop {
		min-width: 0;
	}
}

.dish {
	@extend .cards;
	position: relative;
	height: 4.3rem;
	// animation
	opacity: 0;
	transform: translateY(80px);
	animation: menu-appearance 0.5s ease-out forwards;

	&__description {
		align-self: center;
		padding-left: 0.8rem;
		flex: 1;
	}

	&__price {
		margin-left: auto;
		align-self: flex-end;
		padding: 0 1.5rem 0.8rem 0.6rem;
		color: map-get($color, bg-footer-txt);
	}

	&__btn-select {
		background-color: $color-third;

		input,
		span {
			margin-right: -3.6rem;

			i {
				// animation rotate icon
				transition: transform 0.45s ease-in-out;
				transform: rotate(0deg);
			}
		}
	}

	// Hover
	&:hover .dish__btn-select > * {
		transition: margin-right 0.25s linear, transform 0.45s ease-in-out;
		margin-right: 0;
		i {
			// animation rotate icon
			transform: rotate(1turn);
		}
	}
}

.dish__description {
	overflow: hidden;

	h4 {
		@include text-ellipsis;
		margin: 0;
		margin-bottom: 0.3rem;
	}

	p {
		@include text-ellipsis;
		margin: 0;
	}
}

// Button Order
.menu-btn-order {
	display: flex;
	align-self: center;
	margin: 2.6rem 0 2rem 0;

	input {
		color: inherit;
		width: 100%;
	}

	@include desktop {
		grid-column: 2;
		justify-self: center;
		align-self: end;
		margin: 0;
	}
}
