// -----------------------------------------------------------
/* Restaurant Menus page */
// -----------------------------------------------------------

/* Main */
.single-restaurant {
	background-color: tone-color($color-canvas, soft-light);

	img {
		height: 17rem;
		z-index: -1;
	}
}
.single-restaurant__menu {
	position: relative; /* to fix the background transparent with negativ margin */
	margin-top: -3.3rem;
	padding: $gutters;
	border-radius: 40px 40px 0 0;
	background-color: tone-color($color-canvas, light);

	&--head {
		display: flex;
		justify-content: space-between;
		align-items: center;

		button {
			@extend .btn-heart;
		}
	}
    &--form {
        display: flex;
        flex-direction: column;

        .menu-btn-order {
            @extend .btn-brand;
        
            align-self: center;
            margin: 2.6rem 0 2rem 0;
        }
    }
}


.menu-course {
	h3 {
		text-transform: uppercase;
		font-weight: 300;
		color: tone-color($color-canvas, dark);
		border-bottom: 3px solid $color-third;
		width: 2.375rem;
		line-height: 1.75rem;
	}

	ul {
		@include layout-blocs-list;
	}
}

.dish {
	@extend .cards;

    position: relative;

	&__description {
		padding: 0.8rem 0 0.8rem 0.8rem;
		flex: 1;
	}

	&__price {
		margin-left: auto;
		height: inherit;
		align-self: flex-end;
		padding: 0.8rem 1.5rem;
		color: tone-color($color-canvas, dark);
	}

    &__btn {
            position: absolute;
            top:0;
            right: 0;
            width: 0px;
            height: 100%;
            width: 3.6rem;
            display: none;
            z-index: 2;
            opacity: 0;

            &:checked + .dish__btn-img {
                width: 3.6rem;

                // icon dish select
                i {
                    transform: rotate(360deg);
                }
            }
    }

	&__btn-img {
		width: 0px;
        height: inherit;
		background-color: $color-third;
		padding: 0;
		// animation appearance btn
		transition: width 0.27s linear;

		// icon dish select
		i {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
			color: white;
			font-size: 1.4rem;
			// animation rotate icon
			transition: transform 0.45s ease-in-out;
			transform: rotate(0deg);
		}
	}

    &:hover > .dish__btn  {
        display: block;
    }

	&:hover > .dish__btn-img {
		width: 3.6rem;
        // icon dish select
		i {
			transform: rotate(360deg);
		}
	}

}

.dish__description {
	overflow: hidden;

	h4 {
		@include text-ellipsis;
		margin: 0;
		margin-bottom: 0.3rem;
	}

	p {
		@include text-ellipsis;
		margin: 0;
	}
}
